.centered-content {
    display: flex; 
    justify-content: center;
    background-color: lightgrey;
}

.custom-centered-card-content{
    text-align: right; 
    align-self: center;
    max-width: 60%;    
    word-break: break-word;
}

.custom-card-img {
    margin:15px;
    align-self: center;
    max-height:200px; 
}

.custom-card-text{    
    margin: 15px;
    color: whitesmoke;
    font-weight: bold;
}

.custom-card {
    border-radius: 15px;
    margin: 15px; 
    background-color: rgb(7, 180, 238);
}

// Mobile
@media (max-width: 768px){
    .custom-centered-card-content{
        text-align: left; 
        align-self: center;
        max-width:150px;
        word-break: break-word;
    }    
  }

  // Tab device
@media (max-width: 992px){
    .custom-centered-card-content{
        text-align: left; 
        align-self: center;
        max-width:300px;
        word-break: break-word;
    }   
  }