<ul class="nav nav-tabs bg-dark" role="tablist" style="height: fit-content;">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="standard" data-bs-toggle="tab" data-bs-target="#standart-pane" type="button" role="tab" aria-controls="standart-pane" aria-selected="true">Standard View
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="alternative" data-bs-toggle="tab" data-bs-target="#alternative-pane" type="button" role="tab" aria-controls="alternative-pane" aria-selected="false">Alternative View
      </button>
    </li>  
</ul>
<div class="tab-content centered-content"> 
    <div class="tab-pane fade show active" id="standart-pane" role="tabpanel" aria-labelledby="standard" tabindex="0">
        <div *ngIf="beersToShow$ | async as beersToShow">
            <div *ngFor="let beer of beersToShow">
                <div class="card mb-3" style="margin: 15px; background-color: lightblue;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="{{beer.imageUrl}}" alt="{{beer.name}}" class="card-img">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">                          
                          <p class="card-text">{{ beer.name }}</p>  
                          <p class="card-text">{{ beer.price }} {{ beer.currency }}</p>
                          <p class="card-text">{{ beer.description }}</p>
                        </div>
                      </div>
                    </div>
                  </div>               
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="alternative-pane" role="tabpanel" aria-labelledby="alternative" tabindex="1">
        Content for: 1
    </div>  
</div>