<nav class="navbar custom-header">
  <div class="container-fluid">
    <span class="navbar-text mb-0 h1 custom-brand">flashenpost.de by Aleksander Dymshyts</span>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid justify-content-center">  
    <button type="button" class="btn custom-btn"  data-bs-toggle="modal" data-bs-target="#sortModal">Sort</button>
    <button type="button" class="btn custom-btn" data-bs-toggle="modal" data-bs-target="#filterModal">Filter</button>     
  </div>
</nav>
<router-outlet></router-outlet>

<!-- Modals -->
<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="filterModalLabel">Filter</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        1. To get filtered data from backend, please use Filter button. <br>
        2. To get filtered data from cache, please use Filter (cache) button. (Only visible if cache is not empty). <br>
        3. To clear filtered data cache and see all beers, please use Clear button.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onFilterClick()">Filter</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onFilterCacheClick()" *ngIf="isFilteredCacheVisible$ | async">Filter (cache)</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onFilterCacheClearClick()" *ngIf="isFilteredCacheVisible$ | async">Clear</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="sortModal" tabindex="-1" aria-labelledby="sortModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="sortModalLabel">Sort</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        1. To get sorted asc data from backend, please use Asc button. <br>
        2. To get sorted asc data from cache, please use Asc (cache) button. (Only visible if cache is not empty). <br>
        3. To get sorted desc data from backend, please use Desc button. <br>
        4. To get sorted desc data from cache, please use Desc (cache) button. (Only visible if cache is not empty). <br>
        5. To clear sorted data cache and see all beers, please use Clear button.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onSortAscClick()">Asc</button>        
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onSortAscCacheClick()" *ngIf="isSortedAscCacheVisible$ | async">Asc (Cache)</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onSortDescClick()">Desc</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onSortDescCacheClick()" *ngIf="isSortedDescCacheVisible$ | async">Desc (Cache)</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onSortCacheClearClick()" *ngIf="isSortedClearCacheVisible$ | async">Clear</button>
      </div>
    </div>
  </div>
</div>
