@import "../styles.scss";

.custom-header {        
    background-color: $headerBackgroundColor;
}

.custom-brand {
    color: $textColor;
}

.custom-btn {
    color: $textColor;
}

.custom-btn:hover {
    color: $headerBackgroundColor;
}