@import "../styles.scss";

.custom-header {        
    background-color: $pink-600;
}

.custom-brand {
    color: whitesmoke;
}

.custom-btn {
    color: whitesmoke;
}

.custom-btn:hover {
    color: $pink-600;
}